@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,800');

body
{
	margin: 0;
	font-family: Montserrat;
	background-color:#dfdfdf;
	font-size:1em;
}

#header
{
	position: relative;
	background-color: #ab0002;
	color: white;
	
	box-shadow: 0em 0em 0.7em #222222;
	z-index: 2;
}

#header ul
{
	width:80em;
	margin:0;
	padding:0;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#header li.logo
{
	width: 16em;
	display:inline-block;
	vertical-align: top;
}

#header li.logo a
{
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
}
#header li.logo a:hover
{
	transform: rotate(-4deg) scale(1.1, 1.1);
}

#header li.logo img
{
	width: 100%;
}

#header li
{
	display:inline-block;
}

#header li a
{
	display:inline-block;
	text-decoration: none;
}

#header li.item a
{
	color: white;
	padding:0.5em;
	height: 8em;
	line-height: 8em;
	margin-left:2em;
	
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s;
}
#header li.item .fa-twitter
{
	font-size:200%;
	position:relative;
	top:0.2em;
}
#header li.item a:hover
{
	transform: translateY(-0.5em);
	text-shadow: 0em 0.5em 0.3em #000000aa;
}

@media screen and (max-width: 80em )
{
	#header ul
	{
		width: 100%;
	}
	#header li.logo
	{
		display: block;
		width:100%;
		max-width: 20em;
		margin-left:auto;
		margin-right:auto;
	}
	#header li.item a
	{
		color: white;
		padding:0.5em;
		height: 4em;
		line-height: 4em;
		margin-left:2em;
	}
}

#subHeader
{
	color: white;
	
	padding:0.5em;
	box-shadow: 0em 0em 0.7em #222222;
	position: relative;
	z-index: 3;
}

#subHeader ul
{
	width:78.8em;
	margin:0;
	padding:0.6em;
	margin-left:auto;
	margin-right:auto;
}
@media screen and (max-width: 80em )
{
	#subHeader ul
	{
		width: 100%;
	}
}

#subHeader .menu ul
{
	display:inline-block;
	margin:0em;
}

#subHeader li
{
	display:inline-block;
	padding:0.2em;
	padding-right:1em;
}

#subHeader li a
{
	text-decoration: none;
	color: white;
}

#subHeader li.first
{
	font-weight: 800;
}

#mainFrame
{
	width:80em;
	margin-left:auto;
	margin-right:auto;
}
@media screen and (max-width: 80em )
{
	#mainFrame
	{
		width: 100%;
	}
}

#content
{
	background-color:white;
	color:black;
	padding:3em;
	font-weight: 300;
	line-height: 200%;
	font-size:0.9em;
}
#footer
{
	background-color:white;
	color:black;
	padding:1.5em;
	border-top:1px solid #dddddd;
	text-align: center;
	font-weight: 300;
}

.bibliography
{
	display:block;
	margin:0;
	padding:0;
}
.bibliography li
{
	display:block;
	border-left: 0.4em solid #ab0002;
	padding-left: 1.0em;
	margin-top: 1.0em;
	margin-bottom: 1.0em;
	line-height: 100%;
	font-size:100%;
}
.bibliography-twitter li
{
	display: inline-block;
	width: 24em;
	border-left: 0.4em solid #00aced;
	vertical-align: text-top;
	margin:0;
	margin-right: 0.6em;
}
@media screen and (max-width: 55em )
{
	.bibliography-twitter li
	{
		width: 100%;
	}
}
.bibliography a
{
	text-decoration:none;
	font-weight:bold;
	color:black;
}
.bibliography p, .bibliography span
{
	font-size:90%;
}
/*
.bibliography
{
	display:block;
	margin:0;
	padding:0;
	text-align:center;
}
.bibliography li
{
	display:inline-block;
	width: 15em;
	height:15em;
	margin:0.4em;
	
	border: 0.2em solid #992363;
	color: #992363;
	
	vertical-align: text-top;
	text-align:center;
	line-height: 150%;
}
.bibliography a
{
	display:block;
	text-decoration:none;
	color: #992363;
	line-height: 120%;
}
.bibliography .title
{
	display: block;
	width:100%;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	
	background-color: #992363;
	color: white;
	
	font-size:120%;
	font-weight:bold;
}
*/
.highlight
{
/*
	background-color: #ffeec4;
*/
}
a
{
	color: #ab0002;
}
h1
{
	margin: 0;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
	color: #ab0002;
}

h2
{
	margin: 0;
	padding: 0;
	margin-top: 2.5em;
	margin-bottom: 0.5em;
	color: #ab0002;
	border-bottom: solid 1px #ab0002;
}

h3
{
	margin: 0;
	padding: 0;
	margin-top: 2.5em;
	margin-bottom: 0.5em;
	color: #ab0002;
}

.figure
{
	width: 50em;
	text-align:center;
	padding:2em;
	margin-left:auto;
	margin-right:auto;
}
.figure .caption
{
	text-align:center;
}

@media screen and (max-width: 56em )
{
	.figure
	{
		width: calc(100% - 4em);
	}
	
	.figure img
	{
		width: 100%;
	}
}

.warning
{
	background-color: #ffeec4;
	padding:1em;
	padding-left:3em;
	padding-right:3em;
}
.ref
{
	text-decoration:underline;
}
ul.glossaryList
{
	margin:0;
	padding:0;
	list-style-type: none;
}
ul.glossaryList li
{
	margin:0;
	padding:0;
}
ul.glossaryList a
{
	text-decoration: none;
	font-size:1.5em;
	display:inline-block;
}

.pageNavigation
{
	margin-top:2em;
	margin-bottom:2em;
	text-align:center;
}
.pageNavigation .prev a, .pageNavigation .next a, .pageNavigation .mid a
{
	border-radius: 0.3em;
	padding: 1em;
	background-color: red;
	color: white;
	text-decoration:none;
	font-weight: 700;
}
.pageNavigation .prev a:hover, .pageNavigation .next a:hover, .pageNavigation .mid a:hover
{
	text-decoration:none;
}
.pageNavigation .prev
{
	display: inline-block;
	width: 50%;
	text-align: left;
}
.pageNavigation .next
{
	display: inline-block;
	width: 50%;
	text-align: right;
}
.pageNavigation .mid
{
	display: inline-block;
	margin-left:1em;
	margin-right:1em;
	margin-bottom:2em;
}

.reference
{
	
}
.reference .author
{
	
}
.reference .title
{
	font-style: italic;
}

/* FEMINISM ********************************************************* */

#subHeader.feminism,
.pageNavigation .prev a.feminism,
.pageNavigation .next a.feminism,
.pageNavigation .mid a.feminism
{
	background-color: #992363;
}

#content.feminism h1,
#content.feminism h2,
#content.feminism h3
{
	color: #992363;
}

#content.feminism h2
{
	border-bottom: solid 1px #992363;
}

/* LGBTI+ *********************************************************** */

#subHeader.lgbti,
.pageNavigation .prev a.lgbti,
.pageNavigation .next a.lgbti,
.pageNavigation .mid a.lgbti
{
	background-color: #671d9e;
}

#content.lgbti h1,
#content.lgbti h2,
#content.lgbti h3
{
	color: #671d9e;
}

#content.lgbti h2
{
	border-bottom: solid 1px #671d9e;
}

/* COMMUNISM ******************************************************** */

#subHeader.communism,
.pageNavigation .prev a.communism,
.pageNavigation .next a.communism,
.pageNavigation .mid a.communism
{
	background-color: #850002;
}

#content.communism h1
{
	color: #850002;
}

#content.communism h2
{
	color: #850002;
	border-bottom: solid 1px #850002;
}

#content.communism h3
{
	color: #850002;
}

/* COMMUNISM ******************************************************** */

#subHeader.anarchism,
.pageNavigation .prev a.anarchism,
.pageNavigation .next a.anarchism,
.pageNavigation .mid a.anarchism
{
	background-color: #4a0001;
}

#content.anarchism h1
{
	color: #4a0001;
}

#content.anarchism h2
{
	color: #4a0001;
	border-bottom: solid 1px #4a0001;
}

#content.anarchism h3
{
	color: #4a0001;
}

/* ANTIRACISME ****************************************************** */

#subHeader.antiracism,
.pageNavigation .prev a.antiracism,
.pageNavigation .next a.antiracism,
.pageNavigation .mid a.antiracism
{
	background-color: #1561AE;
}

#content.antiracism h1,
#content.antiracism h2,
#content.antiracism h3
{
	color: #1561AE;
}

#content.antiracism h2
{
	border-bottom: solid 1px #1561AE;
}

/* GLOSSARY ********************************************************* */

#subHeader.glossary,
.pageNavigation .prev a.glossary,
.pageNavigation .next a.glossary,
.pageNavigation .mid a.glossary
{
	background-color: #066833;
}

#content.glossary h1
{
	color: #066833;
}

#content.glossary h2
{
	color: #066833;
	border-bottom: solid 1px #066833;
}

#content.glossary h3
{
	color: #066833;
}

/* UNKNWON CATEGORY ************************************************* */

.pageNavigation .prev a.unknowncat,
.pageNavigation .next a.unknowncat,
.pageNavigation .mid a.unknowncat
{
	background-color: #727272;
}
