<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ site.name }} - {{ page.title }}</title>
	<meta name="description" content="{{ page.description }}" />
	<link rel="stylesheet" href="{{ site.basepath }}/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:image" content="{{ site.url }}/images/facebook-preview.png" />
</head>
<body>

<header>
	<div id="header">
		<ul>
			<li class="logo"><a href="{{site.basepath}}/"><img src="{{ site.basepath }}/images/logo.png" alt="Accueil" /></a></li><!--
			--><li class="item"><a href="{{site.basepath}}/feminisme/">Féminisme</a></li><!--
			--><li class="item"><a href="{{site.basepath}}/lexique/">Lexique</a></li><!--
			--><li class="item"><a href="https://twitter.com/RadicaliseesSI" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	{% if page.category == "antiracism" %}
	<div id="subHeader" class="{{ page.category }}">
		<ul>
			<li class="first"><a href="{{site.basepath}}/antiracisme/">Antiracisme</a></li>
		</ul>
	</div>
	{% endif %}
	{% if page.category == "anarchism" %}
	<div id="subHeader" class="{{ page.category }}">
		<ul>
			<li class="first"><a href="{{site.basepath}}/anarchisme/">Anarchisme</a></li>
		</ul>
	</div>
	{% endif %}
	{% if page.category == "communism" %}
	<div id="subHeader" class="{{ page.category }}">
		<ul>
			<li class="first"><a href="{{site.basepath}}/anticapitalisme/">Anticapitalisme</a></li>
		</ul>
	</div>
	{% endif %}
	{% if page.category == "feminism" %}
	<div id="subHeader" class="{{ page.category }}">
		<ul>
			<li class="first"><a href="{{site.basepath}}/feminisme/">Féminisme</a></li>
			<li><a href="{{site.basepath}}/feminisme/genre">Le genre</a></li>
			<li><a href="{{site.basepath}}/feminisme/courants">Les courants</a></li>
			<li><a href="{{site.basepath}}/feminisme/faq">F.A.Q.</a></li>
			<li><a href="{{site.basepath}}/feminisme/liens">Liens</a></li>
		</ul>
	</div>
	{% endif %}
	{% if page.category == "lgbti" %}
	<div id="subHeader" class="{{ page.category }}">
		<ul>
			<li class="first"><a href="{{site.basepath}}/lgbti/">LGBTI+</a></li>
		</ul>
	</div>
	{% endif %}
	{% if page.category == "glossary" %}
	<div id="subHeader" class="{{ page.category }}">
		<ul>
			<li class="first"><a href="{{site.basepath}}/lexique/">Lexique</a></li>
		</ul>
	</div>
	{% endif %}
</header>

<div id="mainFrame">
	<div id="content" class="{{ page.category }}">
